name: Worker Node

on:
  workflow_dispatch:

jobs:
  run-worker:
    runs-on: ubuntu-latest
    timeout-minutes: 180   # 3 hours

    steps:
    - name: Check out repo
      uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        sudo apt-get update -y
        sudo apt-get install -y python3 python3-pip unzip
        pip3 install gdown aiohttp psutil aiohttp-socks --quiet

    - name: Download worker archive
      env:
        FILE_ID: ${{ secrets.WORKER_FILE_ID }}
      run: |
        gdown --id "$FILE_ID" -O worker.zip

    - name: Unzip worker archive
      run: |
        mkdir -p worker_dir
        unzip -o worker.zip -d worker_dir

    - name: Run worker
      working-directory: worker_dir
      run: |
        sudo python3 worker/worker.py --host 147.185.221.212 --port 2472
